{{! Dark social icons }}
<ul>
    <li class="socialIcons_link">
        <a class="fa fa-twitter"  aria-hidden="true" href="https://twitter.com/pskelly"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-linkedin"  aria-hidden="true" href="http://www.linkedin.com/in/peterskelly"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-facebook"  aria-hidden="true" href="http://www.facebook.com/pete.skelly"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-github" aria-hidden="true" href="https://github.com/pkskelly"></a>
    </li>
</ul>