{{! Dark social icons }}
<ul>
    <li class="socialIcons_link">
        <a class="fa fa-twitter" href="https://twitter.com/pskelly"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-linkedin" href="http://www.linkedin.com/in/peterskelly"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-facebook" href="http://www.facebook.com/pete.skelly"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-rss" href="http://feeds.feedburner.com/sasquatchcoding"></a>
    </li>
</ul>